<template>
    <div>
        <ion-card>
            <ion-card-header>
                <ion-label>Badget</ion-label>
            </ion-card-header>
            <ion-card-content >
                <ion-list>
                    <ion-item>
                        <ion-label>Followers</ion-label>
                        <ion-badge slot="end">22k</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-label>Notifications</ion-label>
                        <ion-badge color="tertiary">33</ion-badge>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-label>Radio Buttons</ion-label>
            </ion-card-header>
            <ion-card-content >
                <ion-list>
                    <ion-item>
                        <ion-label>Jon Snow</ion-label>
                        <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
                        <ion-label>Daenerys Targaryen</ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-label>Date Time</ion-label>
            </ion-card-header>
            <ion-card-content >
                <ion-list>
                    <ion-item>
                        <ion-label>Mes:</ion-label>
                        <ion-datetime display-format="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>Fecha:</ion-label>
                        <ion-datetime display-format="MM DD YY" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>Año:</ion-label>
                        <ion-datetime :picker-options="customPickerOptions" placeholder="Custom Options" display-format="YYYY" min="1981" max="2002"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-label>Grid</ion-label>
            </ion-card-header>
            <ion-card-content >
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                        <ion-col>
                            ion-col
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
</template>
<script>
    
    export default {
        data() {
            return {
                
            }
        },   
    }
</script>