<template>
    <div>
        <ion-card>
            <ion-card-header>
                <ion-label>Formularios</ion-label>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Nombre:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Apellido:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Dirección:</ion-label>
                    <ion-textarea></ion-textarea>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
</template>
<script>
    
    export default {
        data() {
            return {
                
            }
        },   
    }
</script>