<template>
  <ion-app>
    <ion-toolbar color="dark">
      <ion-buttons slot="secondary">
        <ion-button @click="$router.push('componentes')">Componentes</ion-button>
        <ion-button @click="$router.push('formulario')">Formulario</ion-button>
      </ion-buttons>
      <ion-title>Ionic</ion-title>
    </ion-toolbar>
    <ion-content color="dark">
      <router-view/>
    </ion-content>
  </ion-app>
</template>